<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Arnold Press</td>
	    	<td>4</td>
	    	<td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Dumbbell Lateral Raise</td>
		    <td>4</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Smith Machine Overhead Press</td>
		    <td>3</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Bent-Over Lateral Raise</td>
		    <td>3</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Dumbbell Shrug</td>
		    <td>4</td>
		    <td>20, 15, 12, 10</td>
		</tr>
		<tr>
		    <td>Smith Machine Overhead Press</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Standing Calf Raise</td>
		    <td>3</td>
		    <td>20, 15, 15</td>
		</tr>
		<tr>
		    <td>Seated Calf Raise</td>
		    <td>3</td>
		    <td>20, 15, 15</td>
		</tr>
		<tr>
		    <td>Barbell Wrist Curl</td>
		    <td>3</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Barbell Reverse Wrist Curl</td>
		    <td>3</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>HIIT Cardio</td>
		    <td>1</td>
		    <td>5-15 mins</td>
		</tr>
	</tbody>
</table>


		  	
		