<h1>Friday Workout to Tone</h1>
	<h2>Shoulders, Calves, Forearms, and Cardio</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Arnold Press</td>
		    	<td>4 sets</td>
		    	<td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Dumbbell Lateral Raise</td>
			    <td>4 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Smith Machine Overhead Press</td>
			    <td>3 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Bent-Over Lateral Raise</td>
			    <td>3 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Dumbbell Shrug</td>
			    <td>4 sets</td>
			    <td>20, 15, 12, 10 reps</td>
			</tr>
			<tr>
			    <td>Smith Machine Overhead Press</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Standing Calf Raise</td>
			    <td>3 sets</td>
			    <td>20, 15, 15 reps</td>
			</tr>
			<tr>
			    <td>Seated Calf Raise</td>
			    <td>3 sets</td>
			    <td>20, 15, 15 reps</td>
			</tr>
			<tr>
			    <td>Barbell Wrist Curl</td>
			    <td>3 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Barbell Reverse Wrist Curl</td>
			    <td>3 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>HIIT Cardio</td>
			    <td>1 sets</td>
			    <td>5-15 mins reps</td>
			</tr>
		</table>