<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Leg Extension</td>
	    	<td>4</td>
	    	<td>20, 20, 15, 15</td>
		</tr>
		<tr>
		    <td>Lying Leg Curl</td>
		    <td>4</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Back Squat</td>
		    <td>4</td>
		    <td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Wide Stance Leg Press</td>
		    <td>3</td>
		    <td>15, 12, 10</td>
		</tr>
		<tr>
		    <td>Walking Dumbbell Lunge</td>
		    <td>3</td>
		    <td>20 steps per leg</td>
		</tr>
		<tr>
		    <td>Leg Extension</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Lying Leg Curl</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Kneeling Cable Crunch</td>
		    <td>3</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Reverse Crunch</td>
		    <td>3</td>
		    <td>20</td>
		</tr>
		<tr>
		    <td>Steady State Cardio</td>
		    <td>1</td>
		    <td>30 min</td>
		</tr>
	</tbody>
</table>