<h1>Monday Workout to Tone</h1>
	<h2>Legs and Abs</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Leg Extension</td>
		    	<td>4 sets</td>
		    	<td>20, 20, 15, 15 reps</td>
			</tr>
			<tr>
			    <td>Lying Leg Curl</td>
			    <td>4 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Back Squat</td>
			    <td>4 sets</td>
			    <td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Wide Stance Leg Press</td>
			    <td>3 sets</td>
			    <td>15, 12, 10 reps</td>
			</tr>
			<tr>
			    <td>Walking Dumbbell Lunge</td>
			    <td>3 sets</td>
			    <td>20-steps per leg reps</td>
			</tr>
			<tr>
			    <td>Leg Extension</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Lying Leg Curl</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Kneeling Cable Crunch</td>
			    <td>3 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Reverse Crunch</td>
			    <td>3 sets</td>
			    <td>20 reps</td>
			</tr>
			<tr>
			    <td>Steady State Cardio</td>
			    <td>1 sets</td>
			    <td>30 min reps</td>
			</tr>
		</table>