<h1>Thursday Workout to Tone</h1>
	<h2>Back, Biceps, and Abs</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Pullup</td>
		    	<td>4 sets</td>
		    	<td>Max reps</td>
			</tr>
			<tr>
			    <td>Reverse Grip Pulldown</td>
			    <td>4 sets</td>
			    <td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Barbell Upright Row</td>
			    <td>4 sets</td>
			    <td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Seated Cable Row</td>
			    <td>4 sets</td>
			    <td>20 reps</td>
			</tr>
			<tr>
			    <td>Step-Up</td>
			    <td>4 sets</td>
			    <td>20 per leg reps</td>
			</tr>
			<tr>
			    <td>Lat Pulldown</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Standing Dumbbell Biceps Curl</td>
			    <td>4 sets</td>
			    <td>15, 12, 10, 30 reps</td>
			</tr>
			<tr>
			    <td>Bench Knee-In</td>
			    <td>3 sets</td>
			    <td>15 reps</td>
			</tr>
			<tr>
			    <td>Twisting Crunch</td>
			    <td>3 sets</td>
			    <td>30 reps</td>
			</tr>
		</table>