<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Pullup</td>
	    	<td>4</td>
	    	<td>Max</td>
		</tr>
		<tr>
		    <td>Reverse Grip Pulldown</td>
		    <td>4</td>
		    <td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Barbell Upright Row</td>
		    <td>4</td>
		    <td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Seated Cable Row</td>
		    <td>4</td>
		    <td>20</td>
		</tr>
		<tr>
		    <td>Step-Up</td>
		    <td>4</td>
		    <td>20 per leg</td>
		</tr>
		<tr>
		    <td>Lat Pulldown</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Standing Dumbbell Biceps Curl</td>
		    <td>4</td>
		    <td>15, 12, 10, 30</td>
		</tr>
		<tr>
		    <td>Bench Knee-In</td>
		    <td>3</td>
		    <td>15</td>
		</tr>
		<tr>
		    <td>Twisting Crunch</td>
		    <td>3</td>
		    <td>30</td>
		</tr>
	</tbody>
</table>
