<h1>Tuesday Workout to Tone</h1>
	<h2>Chest and Triceps</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Dumbbell Bench Press</td>
		    	<td>4 sets</td>
		    	<td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Incline Barbell Bench Press</td>
			    <td>4 sets</td>
			    <td>15, 12, 10, 8 reps</td>
			</tr>
			<tr>
			    <td>Incline Pushup</td>
			    <td>4 sets</td>
			    <td>20 reps</td>
			</tr>
			<tr>
			    <td>Step-Up</td>
			    <td>4 sets</td>
			    <td>20 per leg reps</td>
			</tr>
			<tr>
			    <td>Dumbbell Flye</td>
			    <td>4 sets</td>
			    <td>15, 15, 10, 10reps</td>
			</tr>
			<tr>
			    <td>Cable Crossover</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Bodyweight Dip</td>
			    <td>4 sets</td>
			    <td>Max reps</td>
			</tr>
			<tr>
			    <td>Narrow Grip Bench Press</td>
			    <td>4 sets</td>
			    <td>30 reps</td>
			</tr>
			<tr>
			    <td>Pushdown</td>
			    <td>1 sets</td>
			    <td>30 reps</td>
			</tr>
		</table>