<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Dumbbell Bench Press</td>
	    	<td>4</td>
	    	<td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Incline Barbell Bench Press</td>
		    <td>4</td>
		    <td>15, 12, 10, 8</td>
		</tr>
		<tr>
		    <td>Incline Pushup</td>
		    <td>4</td>
		    <td>20</td>
		</tr>
		<tr>
		    <td>Step-Up</td>
		    <td>4</td>
		    <td>20 per leg</td>
		</tr>
		<tr>
		    <td>Dumbbell Flye</td>
		    <td>4</td>
		    <td>15, 15, 10, 10</td>
		</tr>
		<tr>
		    <td>Cable Crossover</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Bodyweight Dip</td>
		    <td>4</td>
		    <td>Max</td>
		</tr>
		<tr>
		    <td>Narrow Grip Bench Press</td>
		    <td>4</td>
		    <td>30</td>
		</tr>
		<tr>
		    <td>Pushdown</td>
		    <td>1</td>
		    <td>30</td>
		</tr>
	</tbody>
</table>
