<h1>Wednesday Workout to Tone</h1>
	<h2>High Intensity Interval Training</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>HIIT Cardio</td>
		    	<td>1 set</td>
		    	<td>15-30 mins</td>
		  	</tr>
		</table>