<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Back Squat</td>
	    	<td>4</td>
	    	<td>5</td>
		</tr>
		<tr>
		    <td>One-Legged Squat</td>
		    <td>2</td>
		    <td>5 per leg</td>
		</tr>
		<tr>
		    <td>Leg Press</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Leg Press</td>
		    <td>2</td>
		    <td>5 per leg</td>
		</tr>
		<tr>
		    <td>Leg Extension</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Leg Extensions</td>
		    <td>2</td>
		    <td>5 per leg</td>
		</tr>
		<tr>
		    <td>Leg Curl</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Leg Curl</td>
		    <td>2</td>
		    <td>5 per leg</td>
		</tr>
		<tr>
		    <td>Standing Dumbbell Calf Raise</td>
		    <td>4</td>
		    <td>20</td>
		</tr>
		<tr>
		    <td>Single Leg Standing Dumbbell Calf Raise</td>
		    <td>2</td>
		    <td>20 per leg</td>
		</tr>
	</tbody>
</table>