<h1>Friday Workout for Strength</h1>
	<h2>Legs</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Back Squat</td>
		    	<td>4 sets</td>
		    	<td>5 reps</td>
			</tr>
			<tr>
			    <td>One Legged Squat</td>
			    <td>2 sets</td>
			    <td>5 per leg reps</td>
			</tr>
			<tr>
			    <td>Leg Press</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Leg Press</td>
			    <td>2 sets</td>
			    <td>5 per leg reps</td>
			</tr>
			<tr>
			    <td>Leg Extension</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Leg Extensions</td>
			    <td>2 sets</td>
			    <td>5 per leg reps</td>
			</tr>
			<tr>
			    <td>Leg Curl</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Leg Curl</td>
			    <td>2 sets</td>
			    <td>5 per leg reps</td>
			</tr>
			<tr>
			    <td>Standing Dumbbell Calf Raise</td>
			    <td>4 sets</td>
			    <td>20 reps</td>
			</tr>
			<tr>
			    <td>Single Leg Standing Dumbbell Calf Raise</td>
			    <td>2 sets</td>
			    <td>20 per leg reps</td>
			</tr>
		</table>
