<h1>Monday Workout for Strength</h1>
	<h2>Chest, Shoulders, and Triceps</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Incline Barbell Bench Press</td>
		    	<td>4 sets</td>
		    	<td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Dumbbell Bench Press</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Barbell Bench Press</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Dumbbell Bench Press</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Dumbbell Flye</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>One Arm Cable Flye</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Overhead Dumbbell Press</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Dumbbell Overhead Press</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Barbell Upright Row</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Upright Cable Row</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Triceps Pressdown</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Rope Triceps Pressdown</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Static Lying Triceps Extension</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Dumbbell Lying Triceps Extension</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
		</table>