<h1>Sunday Workout for Strength</h1>
	<h2>Rest or Cardio</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>HIIT Cardio</td>
		    	<td>1 set</td>
		    	<td>15-30 mins</td>
		  	</tr>
		  	<tr>
		    	<td>OR</td>	
		  	</tr>
		  	<tr>
		    	<td>Regular Cardio</td>
		    	<td>1 set</td>
		    	<td>30-60 mins</td>
		  	</tr>
		</table>