<h1>Wednesday Workout for Strength</h1>
	<h2>Back, Biceps, and Abs</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Barbell Deadlift</td>
		    	<td>4 set</td>
		    	<td>5 reps</td>
		  	</tr>
		  		<tr>
		    	<td>Single Arm Dumbbell Deadlift</td>
		    	<td>2 sets</td>
		    	<td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Barbell Bent-Over Row</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Neutral Grip Dumbbell Row</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Lat Pulldown</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Single Arm Lat Pulldown</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Barbell Biceps Curl</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Dumbbell Biceps Curl</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Barbell Preacher Curl</td>
			    <td>4 sets</td>
			    <td>5 reps</td>
			</tr>
			<tr>
			    <td>Single Arm Cable Preacher Curl</td>
			    <td>2 sets</td>
			    <td>5 per arm reps</td>
			</tr>
			<tr>
			    <td>Weighted Crunch</td>
			    <td>4 sets</td>
			    <td>15 reps</td>
			</tr>
		</table>