<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	 	<tr>
	    	<td>Barbell Deadlift</td>
	    	<td>4</td>
	    	<td>5</td>
	  	</tr>
	  		<tr>
	    	<td>Single Arm Dumbbell Deadlift</td>
	    	<td>2</td>
	    	<td>5 per arm</td>
		</tr>
		<tr>
		    <td>Barbell Bent-Over Row</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Arm Neutral Grip Dumbbell Row</td>
		    <td>2</td>
		    <td>5 per arm</td>
		</tr>
		<tr>
		    <td>Lat Pulldown</td>
		    <td>2</td>
		    <td>5 per arm</td>
		</tr>
		<tr>
		    <td>Single Arm Lat Pulldown</td>
		    <td>2</td>
		    <td>5 per arm</td>
		</tr>
		<tr>
		    <td>Barbell Biceps Curl</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Arm Dumbbell Biceps Curl</td>
		    <td>2</td>
		    <td>5 per arm</td>
		</tr>
		<tr>
		    <td>Barbell Preacher Curl</td>
		    <td>4</td>
		    <td>5</td>
		</tr>
		<tr>
		    <td>Single Arm Cable Preacher Curl</td>
		    <td>2</td>
		    <td>5 per arm</td>
		</tr>
		<tr>
		    <td>Weighted Crunch</td>
		    <td>4</td>
		    <td>15</td>
		</tr>
	</tbody>
</table>
