<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Fitness World</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		
	<!-- CSS Files -->
		
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link href="css/pro-bars.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/routines.css" />
	
	<!-- End CSS Files -->
 
	</head>

<body>
	<div class="image_bg">	
		<div class="v2 absolute">
			<!-- Auto Typocraphic Texts -->
			<div class="typographic">
            	<!-- Your Logo -->
				<div class="logo">
				</div>
				<h2 class=" condensed uppercase no-padding no-margin bold gray1">Introducing</h2>
				<h2 class=" condensed uppercase no-padding no-margin bold colored">Fitness Passion</h2>
			</div><!--End Auto Typocraphic Texts -->
		</div><!-- End V2 area -->
	</section><!-- End Home Section -->
	</div>


</body>

</html>