<<<<<<< HEAD
<h1>Friday Workout for Size</h1>
	<h2>Legs and Abs</h2>
		<table>
			<thead>
				<tr>
			    	<th>Exercise</th>
			    	<th>Sets</th>
			    	<th>Reps</th>
			  	</tr>
			</thead>
			<tbody>
			  	<tr>
			    	<td>Barbell Squat</td>
			    	<td>4 sets</td>
			    	<td>12-15 reps</td>
				</tr>
				<tr>
				    <td>One-Leg Leg Press</td>
				    <td>3 sets</td>
				    <td>12-15 reps</td>
				</tr>
				<tr>
				    <td>Leg Extensions</td>
				    <td>3 sets</td>
				    <td>12-15 reps</td>
				</tr>
				<tr>
				    <td>Romanian Deadlift</td>
				    <td>4 sets</td>
				    <td>12-15 reps</td>
				</tr>
				<tr>
				    <td>Lying Leg Curls</td>
				    <td>3 sets</td>
				    <td>12-15 reps</td>
				</tr>
				<tr>
				    <td>Bent Knee Hip Raise</td>
				    <td>3 sets</td>
				    <td>20-30 reps</td>
				</tr>
				<tr>
				    <td>Crunches</td>
				    <td>3 sets</td>
				    <td>20-30 reps</td>
				</tr>
				<tr>
				    <td>Plank</td>
				    <td>3 sets</td>
				    <td>1 min</td>
				</tr>
			</tbody>
		</table>
=======
<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Barbell Squat</td>
			<td>4</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>One-Leg Leg Press</td>
			<td>3</td>
			<td>12-15</td>
		</tr>
		<tr>
		    <td>Leg Extensions</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Romanian Deadlift</td>
		    <td>4</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Lying Leg Curls</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Bent Knee Hip Raise</td>
		    <td>3</td>
		    <td>20-30</td>
		</tr>
		<tr>
		    <td>Crunches</td>
		    <td>3</td>
		    <td>20-30</td>
		</tr>
		<tr>
		    <td>Plank</td>
		    <td>3</td>
		    <td>1 min</td>
		</tr>
	</tbody>
</table>

>>>>>>> db3e14884459ce2f2c9b15a3dd698b27bc7486fc
