<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Barbell Bench Press - Medium Grip</td>
			<td>4</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Barbell Incline Bench Press - Medium Grip</td>
			<td>3</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Incline Dumbbell Flyes</td>
			<td>3</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Triceps Pressdown</td>
			<td>4</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Lying Triceps Extension</td>
			<td>3</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Cable Overhead Triceps Extension</td>
			<td>3</td>
			<td>12-15</td>
		</tr>
		<tr>
			<td>Standing Calf Raises</td>
			<td>3</td>
			<td>25-30</td>
		</tr>
		<tr>
			<td>Seated Calf Raise</td>
			<td>3</td>
			<td>25-30</td>
		</tr>
	</tbody>
</table>