<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
		<tr>
	    	<td>HIIT Cardio</td>
	    	<td>1</td>
	    	<td>15-30 mins</td>
	  	</tr>
	  	<tr>
	    	<td colspan="3">OR</td>	
	  	</tr>
	  	<tr>
	    	<td>Regular Cardio</td>
	    	<td>1</td>
	    	<td>30-60 mins</td>
	  	</tr>
	</tbody>
</table>