<h1>Thursday Workout for Size</h1>
	<h2>Shoulders, Traps, and Calves</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>Dumbbell Shoulder Press</td>
		    	<td>4 sets</td>
		    	<td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Side Lateral Raise</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>One Arm Front Cable Raise</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>High Cable Rear Delt Flyes</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Dumbbell Shrug</td>
			    <td>4 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Seated Calf Raise</td>
			    <td>4 sets</td>
			    <td>25-30 reps</td>
			</tr>
			<tr>
			    <td>Leg Press Calf Raise</td>
			    <td>4 sets</td>
			    <td>25-30 reps</td>
			</tr>
		</table>