<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
		<tr>
	    	<td>Dumbbell Shoulder Press</td>
	    	<td>4</td>
	    	<td>12-15</td>
		</tr>
		<tr>
		    <td>Side Lateral Raise</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>One Arm Front Cable Raise</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>High Cable Rear Delt Flyes</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Dumbbell Shrug</td>
		    <td>4</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Seated Calf Raise</td>
		    <td>4</td>
		    <td>25-30</td>
		</tr>
		<tr>
		    <td>Leg Press Calf Raise</td>
		    <td>4</td>
		    <td>25-30</td>
		</tr>
	</tbody>
</table>
