<h1>Tuesday Workout for Size</h1>
	<h2>Back, Biceps, and Abs</h2>
		<table>
			<tr>
		    	<th>Exercise</th>
		    	<th>Sets</th>
		    	<th>Reps</th>
		  	</tr>
		  	<tr>
		    	<td>One Arm Dumbbell Row</td>
		    	<td>4 sets</td>
		    	<td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Wide Grip Pulldown</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Standing Pulldown</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Straight Arm Pulldown</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Barbell Curl</td>
			    <td>4 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Incline Dumbbell Curl</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>One Arm High Cable Curls</td>
			    <td>3 sets</td>
			    <td>12-15 reps</td>
			</tr>
			<tr>
			    <td>Bent-Knee Hip Raise</td>
			    <td>3 sets</td>
			    <td>20-30 reps</td>
			</tr>
			<tr>
			    <td>Crunches</td>
			    <td>3 sets</td>
			    <td>20-30 reps</td>
			</tr>
			<tr>
			    <td>Oblique Crunches</td>
			    <td>3 sets</td>
			    <td>20-30 reps</td>
			</tr>
		</table>