<table class="paleBlueRowsRoutines">
	<thead>
		<tr>
			<th>Exercises</th>
			<th>Sets</th>
			<th>Reps</th>
		</tr>
	</thead>
	<tbody>
	  	<tr>
	    	<td>One Arm Dumbbell Row</td>
	    	<td>4</td>
	    	<td>12-15</td>
		</tr>
		<tr>
		    <td>Wide Grip Pulldown</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Standing Pulldown</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Straight Arm Pulldown</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Barbell Curl</td>
		    <td>4</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Incline Dumbbell Curl</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>One Arm High Cable Curls</td>
		    <td>3</td>
		    <td>12-15</td>
		</tr>
		<tr>
		    <td>Bent-Knee Hip Raise</td>
		    <td>3</td>
		    <td>20-30</td>
		</tr>
		<tr>
		    <td>Crunches</td>
		    <td>3</td>
		    <td>20-30</td>
		</tr>
		<tr>
		    <td>Oblique Crunches</td>
		    <td>3</td>
		    <td>20-30</td>
		</tr>
	</tbody>
</table>
