<<<<<<< HEAD
// Place all the styles related to the MuscleGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul#muscle > li > a {
	text-decoration: none;
	color: black;
}

#individualmuscleexercises {
	text-align: center;
	font-family: futura;
}

#muscle {
	list-style-type: none;
	float: left;
	position: relative;
	left: 200px;
	top: 75px;
	font-family: futura;
	font-size: 20px;
}

.man {
	float: right;
	width: 50%;
	margin-right: 200px;
	margin-top: -20px;
}

#shoulders1 {
	position: absolute;
    left: 545px;
    top: 195px;
}

#shoulders2 {
	position: absolute;
    left: 673px;
    top: 195px;
}

#shoulders3 {
	position: absolute;
    left: 802px;
    top: 195px;
}

#shoulders4 {
	position: absolute;
    left: 922px;
    top: 195px;
}

#chest1 {
	position: absolute;
    left: 843px;
    top: 207px;
}

#chest2 {
	position: absolute;
    left: 898px;
    top: 207px;
}

#arms1 {
	position: absolute;
    left: 525px;
    top: 245px;
}

#arms2 {
	position: absolute;
    left: 695px;
    top: 245px;
}

#arms3 {
	position: absolute;
    left: 780px;
    top: 245px;
}

#arms4 {
	position: absolute;
    left: 935px;
    top: 255px;
}

#abs1 {
	position: absolute;
    left: 878px;
    top: 300px;
}

#abs:hover > #abs1 { 
	color: white; 
}


#back1 {
	position: absolute;
    left: 605px;
    top: 200px;
}

#back2 {
	position: absolute;
    left: 608px;
    top: 300px;
}

#legs1 {
	position: absolute;
    left: 575px;
    top: 445px;
}

#legs2 {
	position: absolute;
	left: 650px;
    top: 445px;
}

#legs3 {
	position: absolute;
	left: 833px;
    top: 445px;
}

#legs4 {
	position: absolute;
	left: 908px;
    top: 445px;
}

#cardio1 {
	position: absolute;
	left: 565px;
    top: 645px;
}

#cardio2 {
	position: absolute;
	left: 650px;
    top: 645px;
}

#cardio3 {
	position: absolute;
	left: 815px;
    top: 640px;
}

#cardio4 {
	position: absolute;
	left: 910px;
    top: 635px;
}

.active {
  color: white;
  text-shadow: 0 0 20px white;
=======
/* Muscle Groups */

ul#muscle > li > a {
	text-decoration: none;
	color: black;
}

#individualmuscleexercises {
	text-align: center;
	font-family: futura;
}

#muscle {
	list-style-type: none;
	float: left;
	position: relative;
	left: 200px;
	top: 75px;
	font-family: futura;
	font-size: 20px;
}

.man {
	float: right;
	width: 50%;
	margin-right: 200px;
	margin-top: -20px;
}

#shoulders1 {
	position: absolute;
    left: 545px;
    top: 195px;
}

#shoulders2 {
	position: absolute;
    left: 673px;
    top: 195px;
}

#shoulders3 {
	position: absolute;
    left: 802px;
    top: 195px;
}

#shoulders4 {
	position: absolute;
    left: 922px;
    top: 195px;
}

#chest1 {
	position: absolute;
    left: 843px;
    top: 207px;
}

#chest2 {
	position: absolute;
    left: 898px;
    top: 207px;
}

#arms1 {
	position: absolute;
    left: 525px;
    top: 245px;
}

#arms2 {
	position: absolute;
    left: 695px;
    top: 245px;
}

#arms3 {
	position: absolute;
    left: 780px;
    top: 245px;
}

#arms4 {
	position: absolute;
    left: 935px;
    top: 255px;
}

#abs1 {
	position: absolute;
    left: 878px;
    top: 300px;
}

#abs:hover > #abs1 { 
	color: white; 
}


#back1 {
	position: absolute;
    left: 605px;
    top: 200px;
}

#back2 {
	position: absolute;
    left: 608px;
    top: 300px;
}

#legs1 {
	position: absolute;
    left: 575px;
    top: 445px;
}

#legs2 {
	position: absolute;
	left: 650px;
    top: 445px;
}

#legs3 {
	position: absolute;
	left: 833px;
    top: 445px;
}

#legs4 {
	position: absolute;
	left: 908px;
    top: 445px;
}

#cardio1 {
	position: absolute;
	left: 565px;
    top: 645px;
}

#cardio2 {
	position: absolute;
	left: 650px;
    top: 645px;
}

#cardio3 {
	position: absolute;
	left: 815px;
    top: 640px;
}

#cardio4 {
	position: absolute;
	left: 910px;
    top: 635px;
}

.active {
  color: white;
  text-shadow: 0 0 20px white;
}

/* Individual Exercises Tables */

table.paleBlueRowsExercises {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid #A699FF;
  background-color: #EEEEEE;
  width: 1000px;
  height: 250px;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

table.paleBlueRowsExercises td, table.paleBlueRowsExercises th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}

table.paleBlueRowsExercises tbody td {
  font-size: 13px;
}

table.paleBlueRowsExercises td:nth-child(even) {
  background: #EBEBEB;
}

table.paleBlueRowsExercises thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRowsExercises thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}

table.paleBlueRowsExercises thead th:first-child {
  border-left: none;
}

table.paleBlueRowsExercises tfoot td {
  font-size: 14px;
>>>>>>> master
}