<table class="paleBlueRowsExercises">
	<thead>
			<th colspan="3">Greatest Ab Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Ab Wheel Rollout</td><td>Arms-High Partial Situp</td><td>Barbell Rollout</td>
		</tr>
		<tr>
			<td>Barbell Russian Twist</td><td>Swiss Ball Crunch</td><td>Dip/Leg Raise Combo</td>
		</tr>
		<tr>
			<td>Flutter Kick</td><td>Front Squat</td><td>Horizontal Cable Woodchop</td>
		</tr>
		<tr>
			<td>Leg Raise</td><td>Medicine Ball Russian Twist</td><td>Medicine Ball Mountain Climber</td>
		</tr>
		<tr>
			<td>Pike to Superman</td><td>Plank</td><td>Pullup to Knee Raise</td>
		</tr>
		<tr>
			<td>Pushup Rocket</td><td>Resisted Reverse Crunch</td><td>Swiss Ball Rollout</td>
		</tr>
		<tr>
			<td>Medicinal Ball Seated Knee Tuck</td><td>Side Plank</td><td>Sprinter</td>
		</tr>
		<tr>
			<td>Situp and Throw</td><td>Star Plank</td><td>Straight-Leg Barbell Situp</td>
		</tr>
		<tr>
			<td>Suitcase Deadlift</td><td>Swiss Ball Plank Circle</td><td>Swiss Ball V-Up and Pass</td>
		</tr>
		<tr>
			<td>Medicine Ball V-Up</td><td>Weighted Situp</td><td>Half Kneeling Chop</td>
		</tr>
	</tbody>
</table>
