<table class="paleBlueRowsExercises">
	<thead>
			<th colspan="3">Greatest Arm Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Hammer Curl</td><td>Dip</td><td>Close-Grip Curl</td>
		</tr>
		<tr>
			<td>Chinup</td><td>Suspension Trainer Triceps Extension</td><td>Diamond Pushup</td>
		</tr>
		<tr>
			<td>Neutral-Grip Triceps Extension</td><td>Poundstone Curl</td><td>Suspension Trainer Rotational Inverted Row</td>
		</tr>
		<tr>
			<td>Suspension Trainer Biceps Curl</td><td>Close-Grip Pushup</td><td>Behind-the-Back Cable Curl</td>
		</tr>
		<tr>
			<td>EZ-Bar Preacher Curl</td><td>Reverse Curl</td><td>Wide-Grip Curl</td>
		</tr>
		<tr>
			<td>Overhead Press</td><td>Pullover/Triceps Extension</td><td>Conventional Curl</td>
		</tr>
		<tr>
			<td>Side Curl with Band</td><td>Decline Triceps Extension</td><td>Close-Grip Bench Press</td>
		</tr>
		<tr>
			<td>Lying Triceps Extension</td><td>Face Pull</td><td>Underhand Kickback</td>
		</tr>
		<tr>
			<td>Tate Press</td><td>High Pull</td><td>Band Lateral Raise</td>
		</tr>
		<tr>
			<td>Hindu Pushup</td><td>Seated Dumbbell Clean</td><td>Standing Dumbbell Flye</td>
		</tr>	
	</tbody>
</table>

