<<<<<<< HEAD
<h1>Arm Exercises</h1>

<ul>
	<li>Hammer Curl</li>
	<li>Dip</li>
	<li>Close-Grip Curl</li>
	<li>Chinup</li>
	<li>Suspension Trainer Triceps Extension</li>
	<li>Diamond Pushup</li>
	<li>Neutral-Grip Triceps Extension</li>
	<li>Poundstone Curl</li>
	<li>Suspension Trainer Rotational Inverted Row</li>
	<li>Suspension Trainer Biceps Curl</li>
	<li>Close-Grip Pushup</li>
	<li>Behind-the-Back Cable Curl</li>
	<li>EZ-Bar Preacher Curl</li>
	<li>Reverse Curl</li>
	<li>Wide-Grip Curl</li>
	<li>Overhead Press</li>
	<li>Pullover/Triceps Extension</li>
	<li>Conventional Curl</li>
	<li>Side Curl with Band</li>
	<li>Decline Triceps Extension</li>
	<li>Close-Grip Bench Press</li>
	<li>Lying Triceps Extension</li>
	<li>Face Pull</li>
	<li>Underhand Kickback</li>
	<li>Tate Press</li>
	<li>High Pull</li>
	<li>Band Lateral Raise</li>
	<li>Hindu Pushup</li>
	<li>Seated Dumbbell Clean</li>
	<li>Standing Dumbbell Flye</li>
</ul>
=======
<table class="paleBlueRowsExercises">
	<thead>
			<th colspan="3">Greatest Arm Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Hammer Curl</td><td>Dip</td><td>Close-Grip Curl</td>
		</tr>
		<tr>
			<td>Chinup</td><td>Suspension Trainer Triceps Extension</td><td>Diamond Pushup</td>
		</tr>
		<tr>
			<td>Neutral-Grip Triceps Extension</td><td>Poundstone Curl</td><td>Suspension Trainer Rotational Inverted Row</td>
		</tr>
		<tr>
			<td>Suspension Trainer Biceps Curl</td><td>Close-Grip Pushup</td><td>Behind-the-Back Cable Curl</td>
		</tr>
		<tr>
			<td>EZ-Bar Preacher Curl</td><td>Reverse Curl</td><td>Wide-Grip Curl</td>
		</tr>
		<tr>
			<td>Overhead Press</td><td>Pullover/Triceps Extension</td><td>Conventional Curl</td>
		</tr>
		<tr>
			<td>Side Curl with Band</td><td>Decline Triceps Extension</td><td>Close-Grip Bench Press</td>
		</tr>
		<tr>
			<td>Lying Triceps Extension</td><td>Face Pull</td><td>Underhand Kickback</td>
		</tr>
		<tr>
			<td>Tate Press</td><td>High Pull</td><td>Band Lateral Raise</td>
		</tr>
		<tr>
			<td>Hindu Pushup</td><td>Seated Dumbbell Clean</td><td>Standing Dumbbell Flye</td>
		</tr>	
	</tbody>
</table>

>>>>>>> master
