<h1>Arm Exercises</h1>

<ul>
	<li>Hammer Curl</li>
	<li>Dip</li>
	<li>Close-Grip Curl</li>
	<li>Chinup</li>
	<li>Suspension Trainer Triceps Extension</li>
	<li>Diamond Pushup</li>
	<li>Neutral-Grip Triceps Extension</li>
	<li>Poundstone Curl</li>
	<li>Suspension Trainer Rotational Inverted Row</li>
	<li>Suspension Trainer Biceps Curl</li>
	<li>Close-Grip Pushup</li>
	<li>Behind-the-Back Cable Curl</li>
	<li>EZ-Bar Preacher Curl</li>
	<li>Reverse Curl</li>
	<li>Wide-Grip Curl</li>
	<li>Overhead Press</li>
	<li>Pullover/Triceps Extension</li>
	<li>Conventional Curl</li>
	<li>Side Curl with Band</li>
	<li>Decline Triceps Extension</li>
	<li>Close-Grip Bench Press</li>
	<li>Lying Triceps Extension</li>
	<li>Face Pull</li>
	<li>Underhand Kickback</li>
	<li>Tate Press</li>
	<li>High Pull</li>
	<li>Band Lateral Raise</li>
	<li>Hindu Pushup</li>
	<li>Seated Dumbbell Clean</li>
	<li>Standing Dumbbell Flye</li>
</ul>
