<table class="paleBlueRowsExercises">
	<thead>
			<th colspan="3">Greatest Back Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Deadlift</td><td>Weighted Pullup</td><td>Dumbbell Romanian Deadlift</td>
		</tr>
		<tr>
			<td>Pallof Press Iso Hold</td><td>Incline Dumbbell Row</td><td>Chinup</td>
		</tr>
		<tr>
			<td>Trap-Bar Deadlift</td><td>Alternating Dumbbell Row</td><td>Inverted Row</td>
		</tr>
		<tr>
			<td>Snatch-Grip Rack Deadlift</td><td>Swiss Ball Leg Curl</td><td>Wide-Grip Pullup</td>
		</tr>
		<tr>
			<td>Landmine One-Arm Row</td><td>Towel Cable Row</td><td>Rotational Inverted Row</td>
		</tr>
		<tr>
			<td>Burpee</td><td>Pike-Up to Superman</td><td>Lying Lateral Raise</td>
		</tr>
		<tr>
			<td>Hang Clean</td><td>Back Extension</td><td>Seated Cable Row</td>
		</tr>
		<tr>
			<td>Bentover Reverse Flye</td><td>Aquaman</td><td>Superman</td>
		</tr>
		<tr>
			<td>Suspension Trainer Chinup</td><td>Squat</td><td>Suspension Trainer Inverted Row</td>
		</tr>
		<tr>
			<td>Swiss Ball Reverse Back Extension</td><td>Yates Row</td><td>Bentover Row to Neck</td>
		</tr>
	</tbody>
</table>
