<<<<<<< HEAD
<h1>Back Exercises</h1>

<ul>
	<li>Deadlift</li>
	<li>Weighted Pullup</li>
	<li>Dumbbell Romanian Deadlift</li>
	<li>Pallof Press Iso Hold</li>
	<li>Incline Dumbbell Row</li>
	<li>Chinup</li>
	<li>Trap-Bar Deadlift</li>
	<li>Alternating Dumbbell Row</li>
	<li>Inverted Row</li>
	<li>Snatch-Grip Rack Deadlift</li>
	<li>Swiss Ball Leg Curl</li>
	<li>Wide-Grip Pullup</li>
	<li>Landmine One-Arm Row</li>
	<li>Towel Cable Row</li>
	<li>Rotational Inverted Row</li>
	<li>Blurpee</li>
	<li>Pike-Up to Superman</li>
	<li>Lying Lateral Raise</li>
	<li>Hang Clean</li>
	<li>Back Extension</li>
	<li>Seated Cable Row</li>
	<li>Bentover Reverse Flye</li>
	<li>Aquaman</li>
	<li>Superman</li>
	<li>Suspension Trainer Chinup</li>
	<li>Squat</li>
	<li>Suspension Trainer Inverted Row</li>
	<li>Swiss Ball Reverse Back Extension</li>
	<li>Yates Row</li>
	<li>Bentover Row to Neck</li>
</ul>
=======
<table class="paleBlueRowsExercises">
	<thead>
			<th colspan="3">Greatest Back Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Deadlift</td><td>Weighted Pullup</td><td>Dumbbell Romanian Deadlift</td>
		</tr>
		<tr>
			<td>Pallof Press Iso Hold</td><td>Incline Dumbbell Row</td><td>Chinup</td>
		</tr>
		<tr>
			<td>Trap-Bar Deadlift</td><td>Alternating Dumbbell Row</td><td>Inverted Row</td>
		</tr>
		<tr>
			<td>Snatch-Grip Rack Deadlift</td><td>Swiss Ball Leg Curl</td><td>Wide-Grip Pullup</td>
		</tr>
		<tr>
			<td>Landmine One-Arm Row</td><td>Towel Cable Row</td><td>Rotational Inverted Row</td>
		</tr>
		<tr>
			<td>Burpee</td><td>Pike-Up to Superman</td><td>Lying Lateral Raise</td>
		</tr>
		<tr>
			<td>Hang Clean</td><td>Back Extension</td><td>Seated Cable Row</td>
		</tr>
		<tr>
			<td>Bentover Reverse Flye</td><td>Aquaman</td><td>Superman</td>
		</tr>
		<tr>
			<td>Suspension Trainer Chinup</td><td>Squat</td><td>Suspension Trainer Inverted Row</td>
		</tr>
		<tr>
			<td>Swiss Ball Reverse Back Extension</td><td>Yates Row</td><td>Bentover Row to Neck</td>
		</tr>
	</tbody>
</table>
>>>>>>> master
