<h1>Cardio Exercises</h1>

<ul>
	<li>Sprinting</li>
	<li>High-Intensity Interval Training</li>
	<li>Rowing</li>
	<li>Swimming</li>
	<li>Cycling</li>
	<li>Kettlebells</li>
	<li>Jumping Rope</li>
	<li>Stair Climber</li>
	<li>Running (moderate pace)</li>
	<li>Elliptical</li>
</ul>