<table class="paleBlueRowsExercises">
	<thead>
		<th colspan="3">Greatest Cardio Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Sprinting</td><td>HIIT</td><td>Elliptical</td>
		</tr>
		<tr>
			<td>Rowing</td><td>Swimming</td><td>Running</td>
		</tr>
		<tr>
			<td>Cycling</td><td>Kettlebells</td><td>Jumping Rope</td>
		</tr>
		<tr>
			<td></td><td>Stair Climber</td><td></td>
		</tr>
	</tbody>
</table>
