<<<<<<< HEAD
<h1>Leg Exercises</h1>

<ul>
	<li>Front Squat</li>
	<li>Bulgarian Split Squat</li>
	<li>Romanian Deadlift</li>
	<li>Squat</li>
	<li>Dumbbell Stepup</li>
	<li>Deadlift</li>
	<li>Swiss Ball Leg Curl</li>
	<li>Single-Leg Romanian Deadlift</li>
	<li>Leg Press</li>
	<li>Bodyweight Calf Raise</li>
	<li>Walking Lunge</li>
	<li>Pause Squat</li>
	<li>Reverse Lunge</li>
	<li>Dumbbell Squat</li>
	<li>Kettlebell Swing</li>
	<li>Jump Squat</li>
	<li>Barbell Calf Raise</li>
	<li>Kneeling Hip Flexor Stretch</li>
	<li>Skater Squat</li>
	<li>Jumping Calf Raise</li>
	<li>Barbell Hip Thrust</li>
	<li>Glute Bridge Walkout</li>
	<li>Single-Leg Glute Bridge</li>
	<li>Seated Calf Raise</li>
	<li>Swiss Ball Wall Squat</li>
	<li>Reverse Table-Up</li>
	<li>Kettlebell Press-Out</li>
	<li>Suspension Trainer Leg Curl</li>
	<li>Overhead Lunge</li>
	<li>Standing Calf Raise</li>
</ul>
=======
<table class="paleBlueRowsExercises">
	<thead>
		<th colspan="3">Greatest Leg Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Front Squat</td><td>Bulgarian Split Squat</td><td>Romanian Deadlift</td>
		</tr>
		<tr>
			<td>Squat</td><td>Dumbbell Stepup</td><td>Deadlift</td>
		</tr>
		<tr>
			<td>Swiss Ball Leg Curl</td><td>Single-Leg Romanian Deadlift</td><td>Leg Press</td>
		</tr>
		<tr>
			<td>Bodyweight Calf Raise</td><td>Walking Lunge</td><td>Pause Squat</td>
		</tr>
		<tr>
			<td>Reverse Lunge</td><td>Dumbbell Squat</td><td>Kettlebell Swing</td>
		</tr>
		<tr>
			<td>Jump Squat</td><td>Barbell Calf Raise</td><td>Kneeling Hip Flexor Stretch</td>
		</tr>
		<tr>
			<td>Skater Squat</td><td>Jumping Calf Raise</td><td>Barbell Hip Thrust</td>
		</tr>
		<tr>
			<td>Glute Bridge Walkout</td><td>Single-Leg Glute Bridge</td><td>Seated Calf Raise</td>
		</tr>
		<tr>
			<td>Swiss Ball Wall Squat</td><td>Reverse Table-Up</td><td>Kettlebell Press-Out</td>
		</tr>
		<tr>
			<td>Suspension Trainer Leg Curl</td><td>Overhead Lunge</td><td>Standing Calf Raise</td>
		</tr>
	</tbody>
</table>
>>>>>>> master
