<h1>Leg Exercises</h1>

<ul>
	<li>Front Squat</li>
	<li>Bulgarian Split Squat</li>
	<li>Romanian Deadlift</li>
	<li>Squat</li>
	<li>Dumbbell Stepup</li>
	<li>Deadlift</li>
	<li>Swiss Ball Leg Curl</li>
	<li>Single-Leg Romanian Deadlift</li>
	<li>Leg Press</li>
	<li>Bodyweight Calf Raise</li>
	<li>Walking Lunge</li>
	<li>Pause Squat</li>
	<li>Reverse Lunge</li>
	<li>Dumbbell Squat</li>
	<li>Kettlebell Swing</li>
	<li>Jump Squat</li>
	<li>Barbell Calf Raise</li>
	<li>Kneeling Hip Flexor Stretch</li>
	<li>Skater Squat</li>
	<li>Jumping Calf Raise</li>
	<li>Barbell Hip Thrust</li>
	<li>Glute Bridge Walkout</li>
	<li>Single-Leg Glute Bridge</li>
	<li>Seated Calf Raise</li>
	<li>Swiss Ball Wall Squat</li>
	<li>Reverse Table-Up</li>
	<li>Kettlebell Press-Out</li>
	<li>Suspension Trainer Leg Curl</li>
	<li>Overhead Lunge</li>
	<li>Standing Calf Raise</li>
</ul>