<table class="paleBlueRowsExercises">
	<thead>
		<th colspan="3">Greatest Leg Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Front Squat</td><td>Bulgarian Split Squat</td><td>Romanian Deadlift</td>
		</tr>
		<tr>
			<td>Squat</td><td>Dumbbell Stepup</td><td>Deadlift</td>
		</tr>
		<tr>
			<td>Swiss Ball Leg Curl</td><td>Single-Leg Romanian Deadlift</td><td>Leg Press</td>
		</tr>
		<tr>
			<td>Bodyweight Calf Raise</td><td>Walking Lunge</td><td>Pause Squat</td>
		</tr>
		<tr>
			<td>Reverse Lunge</td><td>Dumbbell Squat</td><td>Kettlebell Swing</td>
		</tr>
		<tr>
			<td>Jump Squat</td><td>Barbell Calf Raise</td><td>Kneeling Hip Flexor Stretch</td>
		</tr>
		<tr>
			<td>Skater Squat</td><td>Jumping Calf Raise</td><td>Barbell Hip Thrust</td>
		</tr>
		<tr>
			<td>Glute Bridge Walkout</td><td>Single-Leg Glute Bridge</td><td>Seated Calf Raise</td>
		</tr>
		<tr>
			<td>Swiss Ball Wall Squat</td><td>Reverse Table-Up</td><td>Kettlebell Press-Out</td>
		</tr>
		<tr>
			<td>Suspension Trainer Leg Curl</td><td>Overhead Lunge</td><td>Standing Calf Raise</td>
		</tr>
	</tbody>
</table>
