<h1>Shoulder Exercises</h1>

<ul>
	<li>Barbell Overhead Press</li>
	<li>Standing Dumbbell Fly</li>
	<li>Face Pull</li>
	<li>High Pull</li>
	<li>Seated Dumbbell Clean</li>
	<li>Trap Raise</li>
	<li>Clean and Press</li>
	<li>Snatch-Grip High Pull</li>
	<li>Band Lateral Raise</li>
	<li>Band Front Raise</li>
	<li>Band Bent-Over Lateral Raise</li>
	<li>Band W Raise</li>
	<li>Suspension Trainer Pike Pushup</li>
	<li>Suspension Trainer Y-Raise</li>
	<li>Suspension Trainer Rear-Delt Raise</li>
	<li>Hindu Pushup</li>
	<li>Pike Press</li>
	<li>Dip</li>
	<li>Lateral Plank Walk</li>
	<li>Dumbbell Neutral Grip Overhead Press</li>
	<li>Dumbbell Raise Complex</li>
	<li>Snatch-Grip Low Pull</li>
	<li>Snatch-Grip Shrug Pull</li>
	<li>Rack Deadlift</li>
	<li>Farmer's Walk</li>
	<li>Dumbbell Deadlift/Shrug Combo</li>
	<li>Dumbbell Bent-Over Lateral Raise</li>
	<li>Incline Bench Press</li>
	<li>Machine Shoulder Press</li>
	<li>Bent-Over Reverse Fly</li>
</ul>