<table class="paleBlueRowsExercises">
	<thead>
		<th colspan="3">Greatest Shoulder Exercises</th>
	</thead>
	<tbody>
		<tr>
			<td>Barbell Overhead Press</td><td>Standing Dumbbell Flye</td><td>Face Pull</td>
		</tr>
		<tr>
			<td>High Pull</td><td>Seated Dumbbell Clean</td><td>Trap Raise</td>
		</tr>
		<tr>
			<td>Clean and Press</td><td>Snatch-Grip High Pull</td><td>Band Lateral Raise</td>
		</tr>
		<tr>
			<td>Band Front Raise</td><td>Band Bent-Over Lateral Raise</td><td>Band W Raise</td>
		</tr>
		<tr>
			<td>Suspension Trainer Pike Pushup</td><td>Suspension Trainer Y-Raise</td><td>Suspension Trainer Rear-Delt Raise</td>
		</tr>
		<tr>
			<td>Hindu Pushup</td><td>Pike Press</td><td>Dip</td>
		</tr>
		<tr>
			<td>Lateral Plank Walk</td><td>Dumbbell Neutral Grip Overhead Press</td><td>Dumbbell Raise Complex</td>
		</tr>
		<tr>
			<td>Snatch-Grip Low Pull</td><td>Snatch-Grip Shrug Pull</td><td>Rack Deadlift</td>
		</tr>
		<tr>
			<td>Farmer's Walk</td><td>Dumbbell Deadlift/Shrug Combo</td><td>Dumbbell Bent-Over Lateral Raise</td>
		</tr>
		<tr>
			<td>Incline Bench Press</td><td>Machine Shoulder Press</td><td>Bent-Over Reverse Fly</td>
		</tr>
	</tbody>
</table>


